*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#navbar-1{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
#navbar-2{
    background-color: purple;
}

#h1{
    font-style: italic;
}

#h1-1{
    font-style: italic;

}

#btn-1{
    display: block;
    margin: auto;
}
#btn-2{
    display: block;
    margin: auto;
}

#navbar-1{
    font-weight: 600;
}

#anchor{
    font-style: italic;
}
#anchor-1{
    font-style: italic;
}

#quiz-1{
    font-style: italic;
}